body{
  padding: 50px ;
  background-color: #eee;
}

p{
  cursor: pointer;
  margin: 0px;
}

.list-group-item {
  background-color: #eee;
  align-items: center;
  display: flex;
  justify-content: space-between;
}
